<!DOCTYPE html>

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>CRUDのRのやつ</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<h1>入荷</h1> <p><p th:text= "${StockForm.message}" /></p>
		<form method="post" th:action="@{stock}" th:object="${StockForm}">
			<p>商品番号: <input type="text" th:field="*{id}" /></p>
			<p>数: <input type="text" th:field="*{count}" /></p>
			<p><input type="submit" value="入荷" /></p>
		</form>
		<h1>出荷</h1> <p><p th:text= "${ShipmentForm.message}" /></p>
		<form method="post" th:action="@{shipment}" th:object="${ShipmentForm}">
			<p>商品番号: <input type="text" th:field="*{id}" /></p>
			<p>数: <input type="text" th:field="*{count}" /></p>
			<p><input type="submit" value="出荷" /></p>
		</form>
		<h1>検索</h1>
		<form method="get" th:action="@{result}" th:object="${ResultForm}">
			<p>商品番号: <input type="text" th:field="*{productID}" /></p>
			<p>商品名: <input type="text" th:field="*{productName}" /></p>
			<p>数: <input type="text" th:field="*{count}" /></p>
			<p>分類番号: <input type="text" th:field="*{typeID}" /></p>
			<p>分類名: <input type="text" th:field="*{typeName}" /></p>
			<p><input type="submit" value="検索" /></p>
		</form>
	</body>
</html>